# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem
*.log
.tmp/
data/raw/unzipped/

# env files
.env*
!.env.example
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS junk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
